[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pytest = "*"
tox = "*"
pytest-mock = "*"
pylint = "*"

[requires]
python_version = "3.8"
